In [2]:
import pandas as pd 

index = ["T1","T3","T4","T5","T6","T7"]
columns = ["lengthByTurn","review","homework"]
df = pd.DataFrame(index = index, columns = columns)
with open('attributes.csv', 'a') as f:
    df.to_csv(f, header = False)
df

   lengthByTurn review homework
T1          NaN    NaN      NaN
T3          NaN    NaN      NaN
T4          NaN    NaN      NaN
T5          NaN    NaN      NaN
T6          NaN    NaN      NaN
T7          NaN    NaN      NaN